.diet-detail {
  .food-select-box {
    margin-top: 2rem;
    width: 100%;
    height: 2rem;
  }
  .add-custom-food-button-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    .add-custom-food-button {
      float: right;
    }
  }
}